= wrap_layout :layout do
  %main
    %article.insight
      .container.reading-width
        %a.icon-angle-left{ href: "/insights/" } back to overview
        %h1= current_page.data.title
        .post-meta
          %ul.tags
            - current_page.tags.each do | tag |
              %li
                %a.tag{ class: "tag-#{tag.parameterize}", href: "/insights/topics/#{tag}.html" }
                  = tag

          %p.date= current_page.date.strftime('%e %b %Y')

      %header{ style: "background-image: url('#{current_page.data.featured}');" }
      .container.reading-width
        = yield
        - if current_page.data.author
          %footer
            .author
              = current_page.data.author
            .author-description
              = current_page.data.authordescription
    %section.latest-articles.article-list
      .container.reading-width
        %h2 Latest insights
        %section
          - blog.articles[0...2].each do | related_article |
            %article
              %a{ href: "/insights/#{related_article.title.split(" ").join("-").downcase}.html" }
                %figure{ style: "background-image: url('#{related_article.data.featured}');" }
              %a{ href: "/insights/#{related_article.title.split(" ").join("-").downcase}.html" }
                %h3= related_article.title
              %p
                %strong= related_article.date.strftime('%e %b %Y')
                = related_article.data.summary
              %a{ href: "/insights/#{related_article.title.split(" ").join("-").downcase}.html" }
                Read more
                %span.icon-angle-right

