---
  title: "Taxology - The Future of Tax - Automated WHT recovery"
  body_classes: home
  meta_description:
  meta_keywords:
---

%main{role: 'main'}
  %article
    %section.protocol-introduction
      .container
        .logo-with-sub
          %img{ src: "/images/logos/protocol.svg", alt: "Protocol: Automated WHT recovery" }
          %h4 Automated withholding tax recovery
          %p.introduction
            Protocol is a web based software platform that minimizes the time, effort, and expense required for preparing and filing WHT refund claims, while at the same time increasing the WHT recovery revenue.
        .screenshot
    %section.usps
      .container
        .usp
          %img{ src: "/images/icon-time.svg" }
          %h3
            Faster claim filing
          %p
            Checking for claims, and filing claims becomes a matter of minutes instead of days or weeks
        .usp
          %img{ src: "/images/icon-costs.svg" }
          %h3
            Reduce cost per claim
          %p
            Automation of the entire recovery process makes for reduced cost per claim filing
        .usp
          %img{ src: "/images/icon-small.svg" }
          %h3
            Improved claim quality
          %p
            Protocol validates data before importing, your claim accuracy will be best in class

      .container.call-to-action
        %a.button.button-protocol-primary{ href: "/protocol/" }
          Read more about Protocol

    %section.taxology-introduction
      %figure
      %section
        .content
          %img{ src: "/images/logos/taxology.svg", alt: "Taxology: The future of tax" }

          %p.introduction
            Taxology is a software solutions company with a sole focus on developing technological solutions for international tax matters.
          %p
            Based in the Netherlands, Taxology develops and deploys cutting edge technology, including Artificial Intelligence (AI) and blockchain to support its software solutions.

          %a.button.button-taxology-primary{ href: "/about-us/" }
            Read more about Taxology

    %section.insights.article-list
      .container
        %h2 Latest insights
        %section
          - blog.articles[0..3].each do | article |
            %article
              %a.figure{ href: "/insights/#{article.slug}.html" }
                .tags
                  - article.tags.each do | tag |
                    .tag{ class: "tag-#{tag.parameterize}" }
                      = tag
                %figure{ style: "background-image: url('#{article.data.featured}');" }
              %a{ href: "/insights/#{article.slug}.html" }
                %h3= article.title
              %p
                %strong=article.date.strftime('%e %b %Y')
                = article.data.summary
              %a{ href: "/insights/#{article.slug}.html" }
                Read more
                %span.icon-angle-right


    %section#request-demo
      .container
        %header
          %h2
            Interested in
            %strong automated
            WHT recovery?

        = partial "partials/request-form"
