---
  title: "Insights"
  body_classes: insights
  meta_description:
  meta_keywords:
---

%main
  %section.insights.article-list
    .container
      %h1 Insights
      %section
        - blog.articles.each do | article |
          %article
            %a.figure{ href: "/insights/#{article.title.parameterize}.html" }
              .tags
                - article.tags.each do | tag |
                  .tag{ class: "tag-#{tag.parameterize}" }
                    = tag
              %figure{ style: "background-image: url('#{article.data.featured}');" }
            %a{ href: "/insights/#{article.title.parameterize}.html" }
              %h3= article.title
            %p
              %strong=article.date.strftime('%e %b %Y')
              = article.data.summary
            %a{ href: "/insights/#{article.title.parameterize}.html" }
              Read more
              %span.icon-angle-right
