---
  title: Tagged insights
  body_classes: page
---

%main
  %section.insights.article-list.tags
    .container
      %a.icon-angle-left{ href: "/insights/" }
        back to Insights
        %br
        %br
      %h1
        Insights tagged with
        %strong= tagname
      %section
        - page_articles.each do | article |
          %article
            %a{ href: "/insights/#{article.title.parameterize}.html" }
              %figure{ style: "background-image: url('#{article.data.featured}');" }
            %a{ href: "/insights/#{article.title.parameterize}.html" }
              %h3= article.title
            %p
              %strong=article.date.strftime('%e %b %Y')
              = article.data.summary
            %a{ href: "/insights/#{article.title.parameterize}.html" }
              Read more
              %span.icon-angle-right
